.main-nav {
    display:flex;
    justify-content: space-around;
    align-items:center;
    
}
.main-nav-logo {
    font-size:1.5em;
    
}
.main-nav-logo a {
    text-decoration: none;
    color:#000;
}
.main-nav-items {
 margin-left: 1.5em;
    
}
.main-nav-items ul {
    display: flex;
    list-style: none;
   

}
.main-nav-items li {
margin: 0 3em;

}
/* Selects Navlink */
.main-nav-items a,
.main-nav-items button
{
    text-decoration: none;
    color:#A8A8A8;

    border: none;
    font: inherit;
    cursor: pointer;
    background: transparent;


}

.main-nav-items a:hover,
.main-nav-items a:active,
.main-nav-items a.active,
.main-nav-items button:hover,
.main-nav-items button:active {
  position: relative;
  top:-25%;
  color:#000;

}